package $!{packageService};

import $!{packageEntity}.$!{entity};
import $!{packageEntity}.$!{example};
import $!{packageDao}.$!{dao};
import $!{baseService};
import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;

/**
 * $!{serviceName}
 * @author $!{author}
 * @date $!{date}
 */
@Service
public class $!{serviceName} extends $!{baseServiceName}<$!{entity}, $!{example}> {
    @Autowired
    $!{daoName} $!{varDao};
}
